:root {
    --deep-blue: #111C26;
    --slate-gray: #61788C;
    --sand: #D9D1B8;
    --soft-red: #BF8C80;
    --off-white: #F2F2F2;
}

/* === FILTER === */

.filter{
    display: flex;
    justify-content: space-evenly;
}

/* === JOB DISPLAY === */

.job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 100px 20px;
}

.job li{
    color: var(--off-white);
}