:root {
    --deep-blue: #111C26;
    --slate-gray: #61788C;
    --sand: #D9D1B8;
    --soft-red: #BF8C80;
    --off-white: #F2F2F2;
}

/* === BENEFITS === */

#benefits{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#benefits ul{
    padding: 0;
}

#benefits li{
    font-size: 1.20em;
    list-style: none;
    line-height: 1.75em;
    color: var(--off-white);
}

@media (max-width: 1000px){
    #benefits{
        margin: 50px 0;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    #benefits h2{
        margin-bottom: 50px;
    }
}

/* === SERVICES === */

#services h2{
    margin-bottom: 20px;
}

.service{
    margin: 20px 0;
}

@media (max-width:1000px){
    #services{
        margin: 50px 0;
        height: auto;
    }
}

/* === PROGRAMMING LANGUAGES === */

#programming-section{
    background: linear-gradient(to bottom, 
    var(--deep-blue) 0%, 
    var(--slate-gray) 50%, 
    var(--deep-blue) 100%);
}

.programming{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.programming-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-html5{
    background: linear-gradient(45deg, #e44d26, #f16529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-css3-alt{
    background: linear-gradient(45deg, #264de4, #2965f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-js {
    background: linear-gradient(45deg, #f7df1e, #e4a017);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-react {
    background: linear-gradient(45deg, #61dafb, #21a1f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-angular {
    background: linear-gradient(45deg, #dd1b16, #c3002f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-python {
    background: linear-gradient(45deg, #306998, #ffe873);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-java {
    background: linear-gradient(45deg, #5382a1, #2a6474);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

.fa-database {
    background: linear-gradient(45deg, #f29111, #d49424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 5em;
}

@media (max-width:1000px){
    .programming{
        flex-direction: column;
        align-items: center;
    }

    .programming-display{
        margin: 30px 0;
    }
}

.faq-item{
    border-bottom: 1px solid var(--sand);
}

.faq-question {
    cursor: pointer;
    padding: 20px 10px;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-item.active .faq-answer {
    max-height: 500px; /* Set a max-height that is larger than the expected content */
    transition: max-height 0.4s ease;
}

.faq-item.active h3{
    color: var(--soft-red);
}

.faq-answer p {
    margin: 0;
    padding: 20px;
}
