:root {
    --deep-blue: #111C26;
    --slate-gray: #61788C;
    --sand: #D9D1B8;
    --soft-red: #BF8C80;
    --off-white: #F2F2F2;
}

.main-sections li{
    color: var(--off-white);
    line-height: 2em;
}

.main-sections p{
    margin: 20px 0;
}

h2{
    margin-bottom: 30px;
}

.why-oracle{
    width: 100%;
}

.oracle-intro{
    display: flex;
}

.oracle-intro p{
    width: 50%;
    padding: 40px;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    background: #000;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 1280px){
    .oracle-intro{
        flex-direction: column;
        width: 100%;
    }

    .oracle-intro p{
        width: 100%;
        padding: 0;
    }

    .video-container{
        left: 0;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
    }
}

#cta{
    font-size: 1.75em;
}

#cta a{
    color: var(--soft-red);
}

#cta a:hover{
    text-decoration: underline;
}


