/* SCROLLING EFFECT */ 

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.process-items:nth-child(2) {
    transition-delay: 200ms;
}

.process-items:nth-child(3) {
    transition-delay: 400ms;
}

.process-items:nth-child(4) {
    transition-delay: 600ms;
}

.process-items:nth-child(5) {
    transition-delay: 800ms;
}



/* === HERO === */

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

#hero img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    object-fit:cover;
}

#hero h1{
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p{
    font-size: 1.75em;
    line-height: 35px;
}

@media (max-width: 400px){
    #hero h1{
        font-size: 2em;
    }

    #hero p{
        font-size: 1.25em;
    }
}

/* === THE PROCESS === */

#process{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  padding: 0 50px;
  height: 80vh;
}

.process-display{
    display: flex;
    justify-content: space-around;
}

.process-items{
    position: relative;
    border: 1px black solid;
    border-radius: 20px;
    width: 17%;
    padding: 20px 10px;
}

.process-items span{
    font-size: 4em;
    font-weight: 700;
    position: absolute;
    right: 30px;
    top: -50px;
    color: blue;
    background-color: white;

}

@media (max-width: 1280px){
    #process{
       height: auto; 
    }

    .process-display{
        flex-direction: column;
        align-items: center;
    }

    .process-items{
        width: 50%;
        margin: 40px 0;
    }
}

@media (max-width: 600px){
    #process{
        margin: 50px 0;
    }

    .process-items{
        width: 100%;
        margin: 80px 0;
    }
}

/* === CALL TO ACTION === */

#cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}