*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: aqua;
    height: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

.main-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-menu li{
    padding: 0 2em;
}

.services-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}


